.imageBlob {
  animation: blobob 4s ease-in-out infinite alternate;
  border: 2px orangered dashed;
}

@keyframes blobob {
  from {
    transform: translatey(5%);
    border-radius: 47% 53% 66% 34% / 49% 30% 70% 51%;
  }
  to {
    transform: translatey(0%);
    border-radius: 31% 69% 38% 62% / 44% 56% 44% 56%;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
